<h1 class="text-center my-5">売上編集</h1>
<hr>
<div class="offset-4 col-4">
  <%= form_with(model: @selled_product, local: true) do |form| %>
    <p>
      <%= form.label "名前", for: "name" %>
      <%= form.text_field(:name, id: "name") %>
    </p>
    <p>
      <%= form.label "値段", for: "price" %>
      <%= form.number_field(:price, id: "price") %>
    </p>
    <p>
      <%= form.label "カテゴリー", for:'category' %> 
      <%= form.collection_select(:category_id, Category.all, :id, :name, include_blank: true, id:'category') %>
    </p>
    <%= form.submit "登録",class:'btn　btn-primary' %>
  <% end %>
</div>

